<template>
  <v-container fluid>
    <!-- Form Section -->
    <v-row align="center" justify="center">
      <ContactFormSection />
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'contact',

  data() {
    return {
      title: 'MOD3 — Contact Us',
    };
  },

  head() {
    return {
      title: this.title,
      meta: [
        {
          hid: 'mod3-contact',
          name: 'description',
          content:
            'At MOD3, we are here to help you with all of your website, business intelligence, business development, eCommerce, marketing, manufacturing, and engineering needs. Please contact us by phone at (407) 720-4945  or by visiting our local Daytona beach office',
        },
      ],
    };
  },
};
</script>
