<template>
  <v-row align="center" justify="center">
    <v-dialog v-model="dialog" persistent max-width="500px">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          elevation="3"
          aria-label="get started"
          class="rounded-lg button-4"
          name="get started"
          x-large
          light
          v-on="on"
          v-bind="attrs"
          >Let's Get Started</v-btn
        >
      </template>

      <v-card dark>
        <v-card-title>
          <v-container fluid>
            <v-row align="center" justify="center" no-gutters>
              <v-col cols="11">
                <h1 class="subtitle-1">Tell Us About Your Project</h1>
              </v-col>

              <v-col cols="1" class="text-center">
                <v-btn
                  x-small
                  fab
                  name="close"
                  color="orange"
                  @click="dialog = false"
                >
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-form ref="getStarted" @submit.prevent="sendEmail">
              <v-row>
                <v-col cols="12" sm="6">
                  <v-text-field
                    :dark="!$vuetify.theme.dark"
                    color="orange"
                    label="First Name*"
                    :rules="firstNameRule"
                    type="text"
                    filled
                    dense
                    outlined
                    v-model="user_first_name"
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                  <v-text-field
                    :dark="!$vuetify.theme.dark"
                    color="orange"
                    label="Last Name*"
                    :rules="lastNameRule"
                    type="text"
                    dense
                    filled
                    outlined
                    v-model="user_last_name"
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    :dark="!$vuetify.theme.dark"
                    color="orange"
                    label="Phone Number*"
                    :rules="phoneNumberRule"
                    type="text"
                    filled
                    outlined
                    dense
                    v-model="user_phone_number"
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    :dark="!$vuetify.theme.dark"
                    color="orange"
                    :rules="emailRule"
                    label="Email*"
                    filled
                    outlined
                    type="email"
                    dense
                    v-model="user_email"
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-textarea
                    :dark="!$vuetify.theme.dark"
                    color="orange"
                    label="Project Description*"
                    :rules="messageRule"
                    filled
                    type="text"
                    outlined
                    clearable
                    counter="320"
                    dense
                    v-model="user_message"
                  ></v-textarea>
                </v-col>

                <v-col class="text-center" cols="12">
                  <v-row align="center" justify="center">
                    <v-col cols="12" sm="6">
                      <h4 class="text-body-1 orange--text">
                        * Indicates required field
                      </h4>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-btn
                        aria-label="submit"
                        name="submit"
                        :loading="isLoading"
                        type="submit"
                        class="button-4"
                        light
                      >
                        Submit
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  data: () => ({
    dialog: false,

    isLoading: false,

    user_first_name: null,
    firstNameRule: [(v) => !!v || 'First Name required.'],

    user_last_name: null,
    lastNameRule: [(v) => !!v || 'Last Name required.'],

    user_message: null,
    messageRule: [(v) => !!v || 'Project Description required.'],

    user_email: null,
    emailRule: [(v) => !!v || 'Email required.'],

    user_phone_number: null,
    phoneNumberRule: [(v) => !!v || 'Phone number required.'],
  }),

  methods: {
    async sendEmail() {
      const isValid = this.$refs.getStarted.validate();

      if (isValid) {
        this.isLoading = true;

        const formData = {
          user_first_name: this.user_first_name,
          user_last_name: this.user_last_name,
          user_message: this.user_message,
          user_email: this.user_email,
          user_phone_number: this.user_phone_number,
        };

        const getStartedData = {
          service_id: 'MOD3',
          template_id: 'get_started_form',
          user_id: 'user_RRvYKPYBZDAlkAKFTKGQ1',
          template_params: formData,
        };

        try {
          const done = await this.$axios.post(
            'https://api.emailjs.com/api/v1.0/email/send',
            getStartedData
          );

          if (done) {
            this.isLoading = false;
            this.dialog = false;
            this.$store.dispatch('setStatus', {
              isVisible: true,
              message: 'Email Sent!',
            });
          }
        } catch (err) {
          this.$store.dispatch('setStatus', {
            isVisible: true,
            message: 'Opps something went wrong, please try again!',
          });
        }
      }
    },
  },
};
</script>
