<template>
  <v-col cols="11">
    <v-row align="center" justify="center">
      <v-col v-for="(feature, index) in features" :key="index" cols="12" lg="6">
        <HomeFeatureSectionCard :key="index" :feature="feature" />
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
export default {
  name: 'home-feature-section',

  data: () => ({
    toggle: false,

    features: [
      {
        name: ['website optimization'],
        title: 'Website Design',
        img: 'website_design-min.png',
        color: 'red accent-1',
        description:
          'Using psychology as our baseline, we create a workflow that redirects your customers to take action. Through hypothesis testing, we take the guesswork and subjectivity out of design decision.',
      },

      {
        name: ['ERP', 'MRP', 'CRM'],
        title: 'Enterprise Systems',
        img: 'enterprise_system-min.png',
        color: 'purple accent-1',
        description:
          "Your business has needs. Whether it's keeping track of customers or automated work order creation, we provide custom solutions that tie all of your business operations together.",
      },
      {
        name: ['Production Design', 'Manufacturing', 'Assembly', 'DFMA'],
        title: 'Manufacturing Systems',
        img: 'manufacturing_system-min.png',
        color: 'blue accent-1',
        description:
          'We can take your job shop, batch manufacturing, or production line and create an automated or semi-automated workflow that boosts your production output and maximizes your product quality.',
      },
      {
        name: ['CAD', 'CAM', 'FEA', 'CFD'],
        title: 'Modeling & Analysis',
        img: 'model_analysis-min.png',
        color: 'success accent-1',
        description:
          'Offload your design, simulation, and data analytics workload with our network of consultants. From 3D modeling to machine learning, we have the team to help support your day-to-day needs.',
      },
    ],
  }),
};
</script>
