<template>
  <v-row align="center" justify="center">
    <v-col
      class="mb-6"
      cols="12"
      md="6"
      v-for="(user, index) in users"
      :key="index"
    >
      <HomeTeamSectionCard :user="user" />
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'home-team-section',

  data: () => ({
    users: [
      {
        name: 'Dean White',
        img: 'dean.png',
        description:
          'Mechanical engineer with over 9 years experience in engineering project management ranging from pharmaceuticals manufacturing to construction.',
        tags: [
          'Manufacturing',
          'Project Mangement',
          'Design',
          'Modeling',
          'Simulation',
          'Mechatronics/Robotics',
          'Machine Vision',
        ],
      },

      {
        name: 'Leonardo Ramirez',
        img: 'leo.png',
        description:
          'Full-stack developer and aerospace engineer with over 3 years experience in systems engineering and full-stack software development.',
        tags: [
          'Aerospace',
          'Systems',
          'Fullstack',
          'Cloud',
          'Network',
          'DevOps',
          'Database',
        ],
      },
    ],
  }),
};
</script>
