<template>
  <v-card
    :class="
      ($vuetify.theme.dark ? 'glass-dark' : 'glass-light') +
      ' pa-4 rounded-xl mx-auto elevation-3'
    "
  >
    <v-container fluid>
      <v-row class="text-center" align="center" justify="center">
        <v-col cols="12">
          <h4 class="text-h4 mb-5">Ready To Talk?</h4>

          <v-btn
            aria-label="contact"
            name="contact"
            :to="{ path: '/contact/', hash: '#target' }"
            elevation="18"
            light
            class="rounded-lg button-4 mt-4"
            x-large
          >
            Contact Us
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
export default {
  name: 'home-contact-section',
};
</script>
