<template>
  <v-card
    elevation="3"
    :class="
      ($vuetify.theme.dark ? 'glass-dark' : 'glass-light') +
      ' mx-auto pa-4 rounded-lg'
    "
  >
    <v-container fluid>
      <v-row align="start" justify="center">
        <v-col class="text-center" cols="12" lg="4">
          <v-img
            min-height="200px"
            min-width="200px"
            class="rounded-lg mx-auto elevation-3"
            :lazy-src="require(`~/static/images/home/${user.img}?webp`)"
            :srcset="require(`~/static/images/home/${user.img}?webp`)"
            :src="require(`~/static/images/home/${user.img}`)"
            :alt="`Showing Consultant ${user.name}`"
          >
            <template #placeholder>
              <v-row align="center" justify="center" class="fill-height ma-0">
                <v-col cols="5">
                  <v-progress-linear
                    color="button-4"
                    background-color=""
                    indeterminate
                    rounded
                    height="5"
                  >
                  </v-progress-linear>
                </v-col>
              </v-row>
            </template>
          </v-img>
        </v-col>

        <v-col cols="12" lg="8">
          <v-row align="center" justify="center" no-gutters>
            <v-col class="text-center" cols="12">
              <h5 class="text-h5">
                {{ user.name }}
              </h5>
            </v-col>

            <v-col cols="12">
              <hr
                :class="
                  $vuetify.theme.dark
                    ? 'custom-divider-dark'
                    : 'custom-divider-light'
                "
              />
            </v-col>

            <v-col cols="12">
              <p class="body-1 mb-0 my-3">
                {{ user.description }}
              </p>
            </v-col>
          </v-row>
        </v-col>

        <!-- <v-col cols="12">
          <v-chip
            class="mx-2 my-2"
            small
            v-for="(tag, index) in user.tags"
            :key="index"
          >
            {{ tag }}
          </v-chip>
        </v-col> -->
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
export default {
  name: 'home-team-section-card',

  props: {
    user: {
      type: Object,
      default: null,
    },

    index: {
      type: Number,
      default: null,
    },
  },
};
</script>
