<template>
  <v-col cols="11">
    <v-card
      elevation="3"
      dark
      :class="
        ($vuetify.theme.dark ? 'glass-dark' : 'glass-light') +
        ' pa-4 rounded-lg'
      "
    >
      <v-container fluid>
        <v-row align="center" justify="center">
          <v-col order="2" cols="12" sm="6">
            <v-img
              lazy-src="/images/home/home_info_graphic-min.png?webp"
              :srcset="
                require('~/static/images/home/home_info_graphic-min.png?webp')
              "
              :src="require('~/static/images/home/home_info_graphic-min.png')"
              max-height="600px"
              max-width="600px"
              contain
              class="mx-auto"
              alt="Home Landing page Info graphic"
            >
              <template #placeholder>
                <v-row align="center" justify="center" class="fill-height ma-0">
                  <v-col cols="5">
                    <v-progress-linear
                      color="button-4"
                      background-color=""
                      indeterminate
                      rounded
                      height="5"
                    >
                    </v-progress-linear>
                  </v-col>
                </v-row>
              </template>
            </v-img>
          </v-col>

          <v-col order="1" cols="12" sm="6">
            <v-row align="center" justify="center">
              <v-col class="text-center" cols="12">
                <vue-typer
                  class="pa-2 text-h5 text-md-h2 text-uppercase"
                  :text="['Modify', 'Modularize', 'Modernize']"
                  erase-style="clear"
                  caret-animation="blink"
                  :preTypeDelay="0"
                  :typeDelay="100"
                  :preEraseDelay="1000"
                  :eraseDelay="10"
                >
                </vue-typer>
              </v-col>

              <v-col cols="12">
                <h4
                  :class="
                    ($vuetify.theme.dark ? 'white--text' : 'black--text') +
                    ' text-center text-subtitle-1 text-lg-h5'
                  "
                >
                  We are here to help your business
                </h4>
              </v-col>

              <v-col cols="12">
                <hr
                  :class="
                    $vuetify.theme.dark
                      ? 'custom-divider-dark'
                      : 'custom-divider-light'
                  "
                />
              </v-col>

              <v-col cols="12" md="9">
                <p
                  :class="
                    ($vuetify.theme.dark ? 'white--text' : 'black--text') +
                    ' body-2 mb-0'
                  "
                >
                  From creating high fidelity interactive websites to providing
                  your engineering staffing needs, we have you covered.
                </p>
              </v-col>

              <v-col cols="12" class="mt-4">
                <GetStarted />
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-col>
</template>

<script>
export default {
  name: 'home-landing-section',
};
</script>

<style lang="scss">
.vue-typer {
  .custom.char {
    margin: 0px 1px;
    color: white;
  }

  .custom.caret {
    margin: 0px 0px 0px 4px;
    width: 4px;
    background: #f7971e !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffd200,
      #f7971e
    ) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffd200,
      #f7971e
    ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
</style>
