<template>
  <v-card
    :class="
      ($vuetify.theme.dark ? 'glass-dark' : 'glass-light') + ' pa-4 rounded-lg'
    "
    elevation="3"
  >
    <v-row align="center" justify="center" class="fill-height">
      <v-col class="text-center" cols="12" md="6">
        <v-img
          contain
          max-height="250px"
          max-width="250px"
          class="mx-auto"
          :lazy-src="require(`~/static/images/home/${feature.img}?webp`)"
          :srcset="require(`~/static/images/home/${feature.img}?webp`)"
          :src="require(`~/static/images/home/${feature.img}`)"
          :alt="`Displaying ${feature.title} service`"
        >
          <template #placeholder>
            <v-row align="center" justify="center" class="fill-height ma-0">
              <v-col cols="5">
                <v-progress-linear
                  color="button-4"
                  background-color=""
                  indeterminate
                  rounded
                  height="5"
                >
                </v-progress-linear>
              </v-col>
            </v-row>
          </template>
        </v-img>
      </v-col>

      <v-col cols="12" md="6">
        <v-row align="center" justify="center">
          <v-col class="text-center" cols="12">
            <h6 class="text-h6">
              {{ feature.title }}
            </h6>

            <hr
              :class="
                $vuetify.theme.dark
                  ? 'custom-divider-dark'
                  : 'custom-divider-light'
              "
            />
          </v-col>

          <v-col class="body-2 mb-0" cols="12">
            <v-row align="center" justify="center" no-gutters>
              <v-col cols="12" v-if="readMore">
                <p class="text-left">
                  {{ feature.description }}
                </p>

                <v-chip
                  small
                  class="mr-2 mt-2 caption text-capitalize"
                  v-for="(name, index) in feature.name"
                  :key="index"
                >
                  {{ name }}
                </v-chip>
              </v-col>

              <v-col class="text-center" cols="12" v-else>
                <p class="text-center text-truncate">
                  {{ feature.description }}
                </p>

                <v-btn
                  aria-label="read more"
                  name="read more"
                  elevation="3"
                  fab
                  :dark="!$vuetify.theme.dark"
                  :light="$vuetify.theme.dark"
                  small
                  @click="activateReadMore"
                >
                  <v-icon>mdi-dots-horizontal</v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  name: 'home-feature-card',

  props: {
    feature: {
      type: Object,
      default: null,
    },
  },

  data: () => ({
    readMore: false,
  }),

  methods: {
    activateReadMore() {
      this.readMore = !this.readMore;
    },
  },
};
</script>
