<template>
  <v-container
    :class="$vuetify.theme.dark ? 'white--text' : 'black--text'"
    fluid
  >
    <v-row align="start" justify="center">
      <v-col cols="12">
        <v-row align="start" justify="center">
          <!-- Footer Company Item -->

          <v-col cols="12" lg="4">
            <v-row align="center" justify="center">
              <v-col class="text-center" cols="12">
                <h4 class="modern-font">MOD3</h4>
              </v-col>

              <v-col class="text-center" cols="12">
                <p class="body-2">We are here to help your business.</p>
                <p class="text-left body-2 mb-0">
                  From custom software solutions, to offering a helping hand
                  with operations, we got you covered.
                </p>
              </v-col>
            </v-row>
          </v-col>

          <!-- Footer Items -->
          <v-col cols="12" md="6" lg="4">
            <v-row
              v-for="(item, index) in footerItems"
              :key="index"
              align="center"
              justify="center"
            >
              <v-col cols="12" class="text-center">
                <h4 class="text-h4">{{ item.title }}</h4>
                <hr
                  :class="
                    $vuetify.theme.dark
                      ? 'custom-divider-dark'
                      : 'custom-divider-light'
                  "
                />
              </v-col>

              <v-col
                class="text-center"
                v-for="(item, index) in item.subItems"
                :key="index"
                cols="12"
              >
                <v-btn
                  v-if="item.mod != 1"
                  :aria-label="item.name"
                  :name="item.name"
                  :to="item.route"
                  class="elevation-3"
                  color="button-4"
                  light
                  small
                >
                  {{ item.name }}
                </v-btn>

                <v-btn
                  v-else
                  light
                  :aria-label="item.name"
                  :name="item.name"
                  @click.stop="dialog = true"
                  class="elevation-3"
                  color="button-4"
                  small
                >
                  {{ item.name }}
                </v-btn>
              </v-col>
            </v-row>
          </v-col>

          <!-- Footer Company Details -->
          <v-col cols="12" md="6" lg="4">
            <v-row align="center" justify="center">
              <v-col class="text-center" cols="12">
                <h4 class="text-h4">{{ footerDetails.title }}</h4>
                <hr
                  :class="
                    $vuetify.theme.dark
                      ? 'custom-divider-dark'
                      : 'custom-divider-light'
                  "
                />
              </v-col>

              <v-col cols="12">
                <span
                  v-for="(item, index) in footerDetails.subItems"
                  :key="index"
                  class="d-flex align-center justify-start mb-4"
                >
                  <v-icon left>mdi-{{ item.icon }}</v-icon>
                  <p class="body-2 ml-2 mb-0">{{ item.name }}</p>
                </span>
              </v-col>

              <v-col class="text-center" cols="12">
                <v-btn
                  rel="noopener"
                  target="_blank"
                  :name="social.name"
                  :aria-label="social.name"
                  :href="social.route"
                  v-for="(social, index) in footerDetails.socials"
                  :key="index"
                  small
                  light
                  class="mr-3"
                  color="button-4"
                >
                  <v-icon> mdi-{{ social.name }} </v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>

      <!-- Footer Copyright -->

      <v-col class="text-center" cols="12">
        <p class="body-2 mb-0">Copyright ©2021 MOD3 - All Rights Reserved</p>
      </v-col>
    </v-row>

    <!--Privacy Dialog -->
    <v-dialog v-model="dialog" max-width="500">
      <v-card dark>
        <v-card-title>
          <v-container fluid>
            <v-row align="center" justify="center" no-gutters>
              <v-col cols="11">
                <h1 class="headline">Privacy Policy</h1>
              </v-col>

              <v-col cols="1" class="text-center">
                <v-btn
                  x-small
                  fab
                  name="close"
                  color="orange"
                  @click="dialog = false"
                >
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-card-title>

        <v-card-text>
          <h3 class="body-2 font-weight-bold">Our Commitment To Privacy</h3>
          <v-divider class="my-2"></v-divider>
          <p class="caption">
            Your privacy is important to us. To better protect your privacy we
            provide this notice explaining our online information practices and
            the choices you can make about the way your information is collected
            and used. To make this notice easy to find, we make it available on
            our homepage and at every point where personally identifiable
            information may be requested.
          </p>

          <h3 class="body-2 font-weight-bold">The Information We Collect</h3>
          <v-divider class="my-2"></v-divider>
          <p class="caption">
            This notice applies to all information collected or submitted on the
            website. On some pages, you can make requests, and register to
            receive materials. The types of personal information collected at
            these pages are:
          </p>

          <ul class="caption">
            <li>Name</li>
            <li>Address</li>
            <li>Email</li>
            <li>Phone Number</li>
          </ul>

          <br />

          <h3 class="body-2 font-weight-bold">The Way We Use Information</h3>
          <v-divider class="my-2"></v-divider>
          <p class="caption">
            We use the information you provide about yourself when placing an
            order only to complete that request for information. We do not share
            this information with outside parties except to the extent necessary
            to complete that process.
          </p>

          <p class="caption">
            We use return email addresses to answer the email we receive. Such
            addresses are not used for any other purpose and are not shared with
            outside parties.
          </p>

          <p class="caption">
            We use non-identifying and aggregate information to better design
            our website but we would not disclose anything that could be used to
            identify those individuals.
          </p>

          <p class="caption">
            Finally, we never use or share the personally identifiable
            information provided to us online in ways unrelated to the ones
            described above without also providing you an opportunity to opt-out
            or otherwise prohibit such unrelated uses.
          </p>

          <h3 class="body-2 font-weight-bold">
            Our Commitment To Data Security
          </h3>
          <v-divider class="my-2"></v-divider>
          <p class="caption">
            To prevent unauthorized access, maintain data accuracy, and ensure
            the correct use of information, we have put in place appropriate
            physical, electronic, and managerial procedures to safeguard and
            secure the information we collect online.
          </p>

          <h3 class="body-2 font-weight-bold">
            How You Can Access Or Correct Your Information
          </h3>
          <v-divider class="my-2"></v-divider>
          <p class="caption">
            You can inquire about all your personally identifiable information
            that we collect online and maintain by contacting us. We use this
            procedure to better safeguard your information.
          </p>

          <p class="caption">
            You can correct factual errors in your personally identifiable
            information by sending us a request that credibly shows error.
          </p>

          <p class="caption">
            To protect your privacy and security, we will also take reasonable
            steps to verify your identity before granting access or making
            corrections.
          </p>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  name: 'app-footer-section',

  data() {
    return {
      dialog: false,

      footerItems: [
        {
          title: 'Company',
          subItems: [
            {
              name: 'About Us',
              route: '/about',
            },
            {
              name: 'Contact Us',
              route: '/contact',
            },
          ],
        },
        {
          title: 'Support',
          subItems: [
            {
              name: 'Privacy Policy',
              mod: 1,
            },
            // {
            //   name: 'Cookies Policy',
            //   mod: 2,
            // },
          ],
        },
      ],

      footerDetails: {
        title: 'Address',
        subItems: [
          {
            name:
              '4191 Dairy Court, Suite B, Port Orange, FL 32127, United States',
            icon: 'home',
          },
          {
            name: 'info@themod3.com',
            icon: 'email',
          },
          {
            name: '(386) 243-2916',
            icon: 'phone',
          },
        ],

        socials: [
          {
            name: 'facebook',
            route: 'https://www.facebook.com/MOD3RNIZE',
          },
          {
            name: 'gitlab',
            route: 'https://gitlab.com/themod3/mod3-nuxt-official/',
          },
        ],
      },
    };
  },
};
</script>

<style scoped>
/* @font-face {
  font-family: 'Merienda';
  src: local('Merienda'), url(../static/fonts/Modern.ttf) format('truetype');
} */
</style>
