<template>
  <v-tooltip bottom>
    <template #activator="{ on, attrs }">
      <v-btn
        class="mr-2"
        text
        dark
        fab
        small
        :aria-label="item.name"
        :name="item.name"
        :to="`${item.route}`"
        v-bind="attrs"
        v-on="on"
      >
        <!-- <v-icon v-if="item.menuItems" right> mdi-chevron-down </v-icon> -->
        <v-icon>mdi-{{ item.icon }}</v-icon>
      </v-btn>
    </template>

    <span>
      {{ item.name }}
    </span>
  </v-tooltip>
</template>

<script>
export default {
  name: 'home-menu-button',

  props: {
    item: {
      type: Object,
      default: null,
    },
  },
};
</script>
