.modern-font {
  font-family: 'Modern';
  font-size: 22px !important;
}

.glass-light {
  background: rgba(255, 255, 255, 0.25) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
}

.glass-dark {
  background: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
}

.main-bg-dark {
  background: rgb(6,255,255) !important;
  background-image: linear-gradient(to right top, #06ffff, #00d4fa, #00a7ec, #0079d2, #004aa9, #313c9f, #472b93, #571284, #7f249a, #a837af, #d04bc3, #fa60d6) !important;
}

.main-bg-light {
  background: #1c0066ff !important;
  background: -webkit-linear-gradient(
    to right bottom,
    #d16ba5,
    #5ffbf1
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right bottom,
    #d16ba5,
    #5ffbf1
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button-4 {
  background: #f7971e !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffd200,
    #f7971e
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffd200,
    #f7971e
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.custom-divider-light {
  border-top: 2px solid rgba(0, 0, 0, 1) !important;
  border-radius: 5px;
  width: 250px;
  margin: 10px auto 0px auto;
}

.custom-divider-dark {
  border-top: 2px solid rgba(255, 255, 255, 1) !important;
  border-radius: 5px;
  width: 250px;
  margin: 10px auto 0px auto;
}

.custom-outline-light {
  border: 2px solid rgba(0, 0, 0, 0.3) !important;
  border-radius: 5px !important;
}

.custom-outline-dark {
  border: 2px solid rgba(255, 255, 255, 0.3) !important;
  border-radius: 5px !important;
}
