//Fonts
@font-face {
  font-family: 'Modern';
  src: url('/fonts/Modern.woff') format('woff'),
    url('/fonts/Modern.woff2') format('woff2'),
    url('/fonts/Modern.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  dont-display: swap;
}

$body-font-family: 'JetBrains Mono';
$heading-font-family: 'JetBrains Mono';
