<template>
  <v-col cols="11">
    <v-card
      class="rounded-lg px-6"
      :color="$vuetify.theme.dark ? 'glass-dark' : 'glass-light'"
      elevation="3"
    >
      <v-container fluid>
        <v-row align="center" justify="center">
          <!-- Contact Detail Cards-->
          <v-col cols="12" lg="6">
            <v-row align="center" justify="center">
              <v-col cols="12">
                <v-row align="center" justify="center" no-gutters>
                  <v-col class="text-center" cols="12">
                    <h4 class="text-h5 text-md-h4 text-h4 mb-4">
                      Get In Touch With Us
                    </h4>
                  </v-col>

                  <v-col class="text-center" cols="12">
                    <p class="mb-0 body-2">
                      Anything On your Mind. We’ll Be Glad To Assist You!
                    </p>
                  </v-col>
                </v-row>
              </v-col>

              <v-col cols="12">
                <v-img
                  class="mx-auto"
                  max-width="500px"
                  max-height="500px"
                  contain
                  lazy-src="/images/contact/contact_us-min.png?webp"
                  :srcset="
                    require('~/static/images/contact/contact_us-min.png?webp')
                  "
                  :src="require('~/static/images/contact/contact_us-min.png')"
                  alt="Modern Contact Us Image"
                >
                  <template #placeholder>
                    <v-row
                      align="center"
                      justify="center"
                      class="fill-height ma-0"
                    >
                      <v-col cols="5">
                        <v-progress-linear
                          color="button-4"
                          background-color=""
                          indeterminate
                          rounded
                          height="5"
                        >
                        </v-progress-linear>
                      </v-col>
                    </v-row>
                  </template>
                </v-img>
              </v-col>
            </v-row>
          </v-col>

          <v-col cols="12" lg="6">
            <v-row id="target" align="center" justify="center">
              <v-col cols="12">
                <v-row align="center" justify="center">
                  <v-col
                    v-for="(detail, index) in contactDetails"
                    :key="index"
                    cols="12"
                    sm="6"
                  >
                    <v-card
                      dark
                      max-width="400px"
                      class="text-center mx-auto rounded-lg"
                      elevation="3"
                    >
                      <v-card-text>
                        <v-col cols="12">
                          <v-row align="center" justify="center">
                            <v-col cols="12">
                              <div class="d-flex align-center justify-center">
                                <v-icon class="mr-4">
                                  mdi-{{ detail.icon }}
                                </v-icon>

                                <h5 class="text-h6 text-md-h5">
                                  {{ detail.name }}
                                </h5>
                              </div>
                              <hr
                                style="width: 150px !important"
                                class="custom-divider-dark"
                              />
                            </v-col>

                            <v-col
                              v-for="(item, index) in detail.info"
                              :key="index"
                              cols="12"
                            >
                              <p class="body-2 white--text mb-0">
                                {{ item }}
                              </p>
                            </v-col>
                          </v-row>
                        </v-col>
                      </v-card-text>
                    </v-card>
                  </v-col>
                </v-row>
              </v-col>

              <v-col cols="12" class="mx-auto">
                <v-card dark elevation="3" class="rounded-lg">
                  <v-card-text>
                    <v-container fluid>
                      <v-form ref="contact" @submit.prevent="sendEmail">
                        <v-row align="center" justify="center">
                          <v-col cols="12" sm="6">
                            <v-text-field
                              color="orange"
                              :dark="!$vuetify.theme.dark"
                              label="First Name*"
                              :rules="firstNameRule"
                              type="text"
                              filled
                              dense
                              outlined
                              v-model="user_first_name"
                            ></v-text-field>
                          </v-col>

                          <v-col cols="12" sm="6">
                            <v-text-field
                              color="orange"
                              :dark="!$vuetify.theme.dark"
                              label="Last Name*"
                              :rules="lastNameRule"
                              type="text"
                              dense
                              filled
                              outlined
                              v-model="user_last_name"
                            ></v-text-field>
                          </v-col>

                          <v-col cols="12">
                            <v-text-field
                              color="orange"
                              :dark="!$vuetify.theme.dark"
                              label="Phone Number*"
                              :rules="phoneNumberRule"
                              type="text"
                              filled
                              outlined
                              dense
                              v-model="user_phone_number"
                            ></v-text-field>
                          </v-col>

                          <v-col cols="12">
                            <v-text-field
                              :rules="emailRule"
                              color="orange"
                              :dark="!$vuetify.theme.dark"
                              label="Email*"
                              filled
                              outlined
                              type="email"
                              dense
                              v-model="user_email"
                            ></v-text-field>
                          </v-col>

                          <v-col class="text-center" cols="12">
                            <v-row align="center" justify="center">
                              <v-col cols="12" sm="6">
                                <p class="body-2 orange--text">
                                  * Indicates required field
                                </p>
                              </v-col>
                              <v-col cols="12" sm="6">
                                <v-btn
                                  aria-label="submit"
                                  name="submit"
                                  :loading="isLoading"
                                  elevation="10"
                                  large
                                  light
                                  type="submit"
                                  class="button-4"
                                >
                                  Submit
                                </v-btn>
                              </v-col>
                            </v-row>
                          </v-col>
                        </v-row>
                      </v-form>
                    </v-container>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-col>
</template>

<script>
export default {
  name: 'contact-form',

  data: () => ({
    isLoading: false,

    contactDetails: [
      {
        icon: 'email',
        name: 'Mail Here',
        info: ['info@themod3.com'],
      },

      {
        icon: 'phone',
        name: 'Call Here',
        info: ['(407) 720-4945‬'],
      },
    ],

    user_first_name: null,
    firstNameRule: [(v) => !!v || 'First Name required.'],

    user_last_name: null,
    lastNameRule: [(v) => !!v || 'Last Name required.'],

    user_email: null,
    emailRule: [(v) => !!v || 'Email required.'],

    user_phone_number: null,
    phoneNumberRule: [(v) => !!v || 'Phone number required.'],
  }),

  methods: {
    async sendEmail() {
      const isValid = this.$refs.contact.validate();

      if (isValid) {
        this.isLoading = true;

        const formData = {
          user_first_name: this.user_first_name,
          user_last_name: this.user_last_name,
          user_message: this.user_message,
          user_email: this.user_email,
          user_phone_number: this.user_phone_number,
        };

        const contactData = {
          service_id: 'MOD3',
          template_id: 'contact_form',
          user_id: 'user_RRvYKPYBZDAlkAKFTKGQ1',
          template_params: formData,
        };

        try {
          const done = await this.$axios.post(
            'https://api.emailjs.com/api/v1.0/email/send',
            contactData
          );

          if (done) {
            this.isLoading = false;
            this.$store.dispatch('setStatus', {
              isVisible: true,
              message: 'Email Sent!',
            });
          }
        } catch (err) {
          this.$store.dispatch('setStatus', {
            isVisible: true,
            message: 'Opps something went wrong, please try again!',
          });
        }
      }
    },
  },
};
</script>
