<template>
  <div>
    <v-app :class="$vuetify.theme.dark ? 'main-bg-dark' : 'main-bg-light'">
      <v-app-bar dark elevate-on-scroll app class="menu-size">
        <v-toolbar-title>
          <v-btn
            aria-label="logo"
            name="logo"
            color="transparent"
            text
            to="/"
            dark
          >
            <h5 class="white--text modern-font">MOD3</h5>
          </v-btn>
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <!-- FAB: Toggle Dark Mode -->
        <v-switch
          aria-label="dark-mode-toggle"
          v-model="enable"
          @click="persistDarkMode()"
          class="mt-6"
          color="white"
          :prepend-icon="
            $vuetify.theme.dark ? 'mdi-weather-sunny' : 'mdi-weather-night'
          "
        >
        </v-switch>

        <v-divider vertical dark class="mx-4"></v-divider>

        <div v-if="$vuetify.breakpoint.width >= 1024">
          <AppMenuButton
            v-for="(item, index) in items"
            :key="index"
            :item="item"
          />
        </div>

        <v-app-bar-nav-icon
          name="nav-menu"
          aria-label="nav-menu"
          v-else
          @click.stop="drawer = !drawer"
        ></v-app-bar-nav-icon>
      </v-app-bar>

      <v-navigation-drawer
        color="grey darken-4"
        dark
        v-model="drawer"
        app
        bottom
        disable-resize-watcher
      >
        <v-list nav dense>
          <v-list-item-group v-model="group">
            <v-list-item
              color="glass-dark elevation-2 rounded-lg"
              v-for="(item, index) in items"
              :key="index"
              :to="{
                path: item.route,
                hash: item === '/contact' ? '#target' : '',
              }"
            >
              <v-list-item-icon>
                <v-icon> mdi-{{ item.icon }} </v-icon>
              </v-list-item-icon>
              <v-list-item-title>{{ item.name }}</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>

      <v-main>
        <nuxt v-if="$nuxt.$loading" />

        <!--FUTURE USECASE -->
        <!-- 
        <v-dialog overlay-opacity=".8" persistent v-model="dialog" width="600">
          <v-card>
            <v-container fluid>
              <v-row align="center" justify="center">
                <v-col cols="12">
                  <h1
                    :class="
                      $vuetify.theme.dark
                        ? 'white--text'
                        : 'black--text' + ' text-h3'
                    "
                  >
                    Cookie Policy
                  </h1>
                </v-col>

                <v-col cols="12">
                  <v-simple-table light dense>
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th class="text-left">Application</th>
                          <th class="text-left">Cookie</th>
                          <th class="text-left">Details</th>
                          <th class="tetx-left">Type</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="item in cookies" :key="item.name">
                          <td>{{ item.application }}</td>
                          <td>{{ item.cookie }}</td>
                          <td v-if="readMore">{{ item.details }}</td>
                          <td v-else>
                            <v-btn
                              aria-label="read more"
                              name="read more"
                              elevation="3"
                              class="title ml-1 button-4"
                              x-small
                              light
                              @click="activateReadMore"
                            >
                              <v-icon>mdi-dots-horizontal</v-icon>
                            </v-btn>
                          </td>
                          <td>{{ item.type }}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-col>

                <v-col cols="12">
                  <v-divider
                    :dark="!$vuetify.theme.dark"
                    :light="$vuetify.theme.dark"
                  ></v-divider>
                  <v-divider
                    :dark="$vuetify.theme.dark"
                    :light="!$vuetify.theme.dark"
                  ></v-divider>
                </v-col>

                <v-col class="text-right" cols="12">
                  <v-btn v-if="change" text color="orange">close</v-btn>
                  <v-btn v-else color="button-4" light @click="acceptCookie">
                    Accept Cookies
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-dialog> -->

        <!-- snack bar here -->
        <v-snackbar
          :color="$vuetify.theme.dark ? 'glass-dark' : 'glass-light'"
          bottom
          v-model="status.isVisible"
        >
          {{ status.message }}

          <template v-slot:action="{ attrs }">
            <v-btn
              aria-label="close"
              name="close"
              x-small
              fab
              text
              v-bind="attrs"
              @click="$store.dispatch('updateStatusVisibility', false)"
            >
              <v-icon> mdi-close</v-icon>
            </v-btn>
          </template>
        </v-snackbar>
      </v-main>

      <!-- Below The Fold -->
      <v-container fluid>
        <v-row align="center" justify="center">
          <v-col cols="11">
            <v-footer
              :color="$vuetify.theme.dark ? 'glass-dark' : 'glass-light'"
              class="rounded-lg elevation-3"
            >
              <AppFooterSection />
            </v-footer>
          </v-col>
        </v-row>
      </v-container>
    </v-app>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { getLocalStorage } from '../util/localstorage';

export default {
  name: 'app-main',

  data() {
    return {
      menu: false,
      dialog: true,
      readMore: false,
      group: null,
      // change: false,
      drawer: false,

      // -- FUTURE USECASE --//
      // cookies: [
      //   {
      //     application: 'tidio',
      //     cookie: '__cfduid',
      //     details:
      //       'This website is using Tidio, a chat platform that connects users with the customer support of MOD3. We are collecting email addresses/names/phone numbers [remove based on your Pre-Chat Survey settings] only with the consent of the users, in order to start the chat. The messages and data exchanged are stored within the Tidio application. For more information, please refer to their Privacy Policy.MOD3 is not making use of these messages or data other than to follow up on users’ registered issues or inquiries. Your personal data will be processed and transmitted in accordance with the General Data Protection Regulation (GDPR).',
      //     type: 'required',
      //   },
      // ],

      items: [
        {
          name: 'Home',
          icon: 'home',
          route: '/',
        },
        {
          name: 'About Us',
          icon: 'information',
          route: '/about',
        },
        {
          name: 'Contact Us',
          icon: 'email',
          route: '/contact',
        },
      ],
    };
  },

  methods: {
    persistDarkMode() {
      this.$store.dispatch('persistData', {
        name: 'darkMode',
        value: this.$vuetify.theme.dark,
      });
    },

    // -- FUTURE USECASE --//
    // activateReadMore() {
    //   this.readMore = !this.readMore;
    // },

    // acceptCookie() {
    //   this.$store.dispatch('acceptCookie', true);
    //   this.dialog = false;
    // },
  },

  computed: {
    ...mapState(['status', 'show', 'isEnabled']),

    enable: {
      get() {
        return getLocalStorage('darkMode');
      },

      set(value) {
        this.$vuetify.theme.dark = value;
      },
    },
  },

  created() {
    this.$vuetify.theme.dark = getLocalStorage('darkMode');
  },

  // created() {
  //   this.$vuetify.theme.dark =
  //     getLocalStorage('darkMode') || this.isEnabled.darkMode;
  // },

  // -- FUTURE USECASE --//
  // mounted() {
  //   if (getLocalStorage('isAccepted')) {
  //     this.change = getLocalStorage('isAccepted');
  //     this.dialog = !getLocalStorage('isAccepted');

  //     const tidio = document.createElement('script');

  //     tidio.setAttribute(
  //       'src',
  //       '//code.tidio.co/0hzducx8bt3ticm1irugvgb0ffoxufdz.js'
  //     );

  //     tidio.setAttribute('async', true);

  //     document.head.appendChild(tidio);
  //   }
  // },
};
</script>

<style>
.menu-size {
  background-color: rgba(39, 39, 39, 0.5) !important;
}
</style>
