<template>
  <v-main>
    <v-container fluid>
      <v-row align="center" justify="center">
        <v-col class="text-center" cols="12">
          <v-row align="center" justify="center">
            <v-col cols="12">
              <v-img
                v-if="error.statusCode === 404"
                contain
                max-height="300px"
                lazy-src="/images/error/404-min.png?webp"
                srcset="/images/error/404-min.png?webp"
                src="/images/error/404-min.png"
              ></v-img>

              <v-img
                v-else
                contain
                max-height="300px"
                lazy-src="/images/error/other-errors-min.png?webp"
                srcset="/images/error/other-errors-min.png?webp"
                src="/images/error/other-errors-min.png"
              ></v-img>
            </v-col>

            <v-col cols="12" v-if="error.statusCode === 404">
              <h1 class="text-display-2">Make sure the address is correct</h1>
              <p class="overline mb-0 mt-5">
                If you believe this is a mistake please email info@themod3.com
              </p>
            </v-col>

            <v-col v-else>
              <h1 class="text-display-2">
                Oh, No looks like something went wrong!
              </h1>
            </v-col>

            <v-col cols="12">
              <v-btn
                :dark="!$vuetify.theme.dark"
                :light="$vuetify.theme.dark"
                :class="$vuetify.theme.dark ? 'background' : 'background-2'"
                to="/"
                x-large
                >Home Page</v-btn
              >
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      pageNotFound: '— Page Not Found',
      otherError: '— Other Error',
    };
  },

  head() {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError;
    return {
      title,
      meta: [
        {
          hid: 'mod3-error',
          name: 'description',
          content: 'Handling page not found or other errors.',
        },
      ],
    };
  },
};
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
