<template>
  <v-container fluid>
    <v-row align="center" justify="center">
      <AboutUsSection />
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'about-us',

  data() {
    return {
      title: 'MOD3 — About Us',
      show: false,
    };
  },

  head() {
    return {
      title: this.title,
      meta: [
        {
          hid: 'mod3-about',
          name: 'description',
          content:
            'The Modify, Modularize, & Modernize Company, or MOD3 for short, is a modern and adaptive consulting agency with engineering service vertical integration. We can help you develop your web application, streamline and scale your manufacturing processes, and assist in your Computer Aided Engineering (CAE) modeling & analysis.',
        },
      ],
    };
  },

  methods: {
    loadContent(entries) {
      this.show = entries.isIntersecting;
    },
  },
};
</script>
