<template>
  <v-container fluid>
    <!-- Landing Section -->
    <v-row align="center" justify="center">
      <HomeLandingSection />
    </v-row>

    <v-row align="end" justify="center" no-gutters>
      <v-col class="text-center mt-3" cols="11">
        <span
          :class="
            ($vuetify.theme.dark
              ? 'custom-outline-dark'
              : 'custom-outline-light') +
            ' d-inline-flex align-center justify-center px-4 py-2'
          "
        >
          <v-icon left>mdi-tools</v-icon>
          <h4 class="text-h5 text-md-h4 text-uppercase">Services</h4>
        </span>
      </v-col>
    </v-row>

    <!-- Feature Section -->
    <v-row align="start" justify="center">
      <HomeFeatureSection />
    </v-row>

    <v-row align="center" justify="center" no-gutters>
      <span
        :class="
          ($vuetify.theme.dark
            ? 'custom-outline-dark'
            : 'custom-outline-light') +
          ' d-inline-flex align-center justify-center px-4 py-2'
        "
      >
        <v-icon left>mdi-account</v-icon>
        <h4 class="ext-h5 text-md-h4 text-uppercase">Consultants</h4>
      </span>
    </v-row>

    <!-- Team Section -->
    <v-row align="center" justify="center">
      <v-col cols="11">
        <HomeTeamSection />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'home',

  head() {
    return {
      meta: [
        {
          hid: 'mod3-home',
          name: 'description',
          content:
            'Get Started with MOD3 Consulting Services. We offer Website Design, Enterprise Systems, Manufacturing Systems, and Modeling & Analysis services.',
        },
      ],
    };
  },

  computed: {
    ...mapState(['show']),
  },
};
</script>
