<template>
  <v-col cols="11">
    <v-row align="center" justify="center">
      <v-col cols="12">
        <v-card
          elevation="3"
          :class="
            ($vuetify.theme.dark ? 'glass-dark' : 'glass-light') +
            ' pa-4 rounded-lg'
          "
        >
          <v-row align="center" justify="center">
            <v-col cols="12" md="6">
              <v-img
                class="mx-auto"
                max-width="600px"
                max-height="600px"
                lazy-src="/images/about/about_us-min.png?webp"
                :srcset="require('~/static/images/about/about_us-min.png?webp')"
                :src="require('~/static/images/about/about_us-min.png')"
                alt="Modern About Us Image"
              >
                <template #placeholder>
                  <v-row
                    align="center"
                    justify="center"
                    class="fill-height ma-0"
                  >
                    <v-col cols="5">
                      <v-progress-linear
                        color="button-4"
                        background-color=""
                        indeterminate
                        rounded
                        height="5"
                      >
                      </v-progress-linear>
                    </v-col>
                  </v-row>
                </template>
              </v-img>
            </v-col>

            <v-col class="text-center" cols="12" md="6">
              <h4 class="text-h5 text-md-h4">About Us</h4>

              <hr
                :class="
                  $vuetify.theme.dark
                    ? 'custom-divider-dark'
                    : 'custom-divider-light'
                "
              />

              <p class="text-left body-2 mb-0 mt-4">
                MOD3 brings together a network of skilled engineers with diverse
                backgrounds to meet you or your company's demanding needs.
                Whether you or your team needs help from the ground up, or needs
                to offload some work, we are here to help. We design custom
                websites that engage your audience and converts them to
                customers. We connect and simplify your workflows with custom
                enterprise solutions. We streamline your production with Six
                Sigma, 5S, and Lean methodologies so you produce the best
                product sustainably and competitively.
              </p>
            </v-col>
          </v-row>
        </v-card>
      </v-col>

      <v-col
        class="mt-10"
        cols="12"
        md="6"
        v-for="(item, index) in aboutItems"
        :key="index"
      >
        <v-card
          min-height="210"
          class="rounded-lg px-4"
          elevation="3"
          :class="$vuetify.theme.dark ? 'glass-dark' : 'glass-light'"
        >
          <v-container fluid>
            <v-row align="center" justify="center">
              <v-col class="text-center" cols="12">
                <h6 class="text-h6">
                  {{ item.name }}
                </h6>

                <hr
                  :class="
                    $vuetify.theme.dark
                      ? 'custom-divider-dark'
                      : 'custom-divider-light'
                  "
                />
              </v-col>

              <v-col cols="12">
                <p class="mb-0 body-2">
                  {{ item.description }}
                </p>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
export default {
  name: 'about-us-section',

  data: () => ({
    aboutItems: [
      {
        name: 'Our Mission',
        description:
          'We strive to deliver results-driven solutions that adapt to the ever-changing demands of industry. We aim to help you focus on your core value offerings by alleviating your day-to-day operational burdens.',
      },

      {
        name: 'Who we are',
        description:
          'We are the skilled professionals you are looking for to help with your existing and future UX and operations needs. Our backgrounds in mechanical/aerospace engineering, physics, fabrication, and software development help us design holistic hardware and software systems that work seamlessly together. We are humans designing systems for humans.',
      },
    ],
  }),
};
</script>
